<a href="/post/{{id}}" class="p-5 list-group-item list-group-item-action">
  <div class="d-flex w-100 justify-content-between">
    <h1 class="display-6">{{title}} &rarr;</h1>
  </div>
  <p class="lead">{{user.avatar}} {{user.username}}</p>
  <p>
    {{comments.length}} {{format_plural "comment" comments.length}}
  </p>
</a>