<a href="/post/{{id}}" class="p-5 list-group-item list-group-item-action">
  <div class="d-flex w-100 justify-content-between">
    <h4>{{title}} &rarr;</h4>
  </div>
  <p class="lead text-start">{{contents}}</p>
  <p><i class="fas fa-user-astronaut"></i> &emsp; {{user.username}}</p>
  <small>
    <span class="badge">{{comments.length}}</span>
    {{format_plural "comment" comments.length}}
  </small>
</a>