<article class="post">
  <a href="/post/{{id}}" target="_blank">
  <div class="title">
    <h2>{{title}}</h2>
  </div>
      <div class="contents">{{contents}}</div>
  <div class="meta">
    <p>{{comments.length}} {{format_plural "comment" comments.length}}</p>
  </div>
  </a>
</article>