<a href="/post/{{id}}" class="p-5 list-group-item list-group-item-action">
   <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{title}}</h5>
    </div>
    <p class="mb-1 text-start">{{contents}}</p>
    <small>{{comments.length}} {{format_plural "comment" comments.length}}</small>
    <small>{{reactions.length}} {{format_plural "reaction" reactions.length}}</small>
  </a>