<form class="post-form">
<div class="mb-3">
  <label for="post-title" class="form-label">Blog title</label>
  <input type="text" class="form-control" id="post-title">
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Content</label>
  <textarea class="form-control" id="post-contents" rows="3"></textarea>
</div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>


  <h3>My Posts</h3>

 {{#each posts as |post|}}
<article class="post">
  <a href="/dashboard/edit/{{post.id}}" target="_blank">
  <div class="title">
    <h2>{{title}}</h2>
  </div>
      <div class="contents-preview">{{contents}}</div>
  <div class="meta">
    <div class="comment-count">{{comments.length}} {{format_plural "comment" comments.length}}</div>
    <div class="reaction-count">{{reactions.length}} {{format_plural "reaction" reactions.length}}</div>
  </div>
  </a>
</article>
  {{/each}}

<script src="/javascript/add-post.js"></script>