<form class="post-form">
    <div>
      <input type="text" id="post-title" name="post-title" placeholder="Your title" />
    </div>
    <div>
<textarea id="post-contents" name="post-contents" rows="4" cols="50" placeholder="What's new in tech?">
</textarea>
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
<hr>
  <h3>My Posts</h3>

 {{#each posts as |post|}}
<article class="post">
  <a href="/dashboard/edit/{{post.id}}" target="_blank">
  <div class="title">
    <h2>{{title}}</h2>
  </div>
      <div class="contents-preview">{{contents}}</div>
  <div class="meta">
    <div class="comment-count">{{comments.length}} {{format_plural "comment" comments.length}}</div>
    <div class="reaction-count">{{reactions.length}} {{format_plural "reaction" reactions.length}}</div>
  </div>
  </a>
</article>
  {{/each}}

<script src="/javascript/add-post.js"></script>